@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5">Welkom bij 'T Rekenhulpje</h1>
<p>
    Welkom op 'T Rekenhulpje, waar we het belang van wiskundige berekeningen voor jonge kinderen benadrukken en een handige bron bieden met overzichten van maaltafels en machtstafels. In de moderne wereld is wiskunde een cruciaal vakgebied dat niet alleen academische successen bevordert, maar ook essentiële vaardigheden ontwikkelt die nodig zijn voor het dagelijks leven. Door jonge kinderen vroeg kennis te laten maken met wiskunde en hen te ondersteunen bij het leren van basisberekeningen, leggen we een stevig fundament voor hun toekomstige groei en succes.
</p>
<p>
    Wiskundige berekeningen spelen een fundamentele rol bij de ontwikkeling van het probleemoplossend vermogen van kinderen. Door regelmatig te oefenen met maaltafels en machtstafels, ontwikkelen ze niet alleen hun vermogen om snel en nauwkeurig te berekenen, maar ook hun logisch denken en redeneervaardigheden. Het beheersen van de basisprincipes van vermenigvuldiging en machtsverheffing stelt kinderen in staat om complexere wiskundige concepten te begrijpen en toe te passen naarmate ze verder groeien in hun educatieve reis.
</p>
<p>
    Bij 'T Rekenhulpje willen we een betrouwbare bron van informatie en hulpmiddelen bieden, zodat kinderen de maaltafels en machtstafels op een leuke en toegankelijke manier kunnen leren. We geloven dat door jonge kinderen een sterke basis in wiskunde te geven, we hen in staat stellen om zelfverzekerd en succesvol te zijn in hun verdere leerproces en in de wereld om hen heen. Neem dus gerust een kijkje op onze website en ontdek de voordelen van wiskundige berekeningen voor jonge geesten!
</p>

<p>
    Ontdek de magie van vermenigvuldiging en ontwikkel je rekenvaardigheden met onze boeiende maaltafels!
</p>

<p>
    Ontdek de kracht van machtsverheffing en versterk je wiskundige vaardigheden met onze fascinerende machtstafels!
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/berekeningen.png" class="card-img-top" alt="Maaltafels">
            <div class="card-body">
                <h5 class="card-title">Maaltafels</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Maaltafels" asp-action="Index" asp-route-aantal="10" class="btn btn-primary">Bekijk de maaltafels!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="~/images/berekeningen.png" class="card-img-top" alt="Machtstafels">
            <div class="card-body">
                <h5 class="card-title">Machtstafels</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Machtstafels" asp-action="Index" asp-route-aantal="10" class="btn btn-primary">Bekijk de machtstafels!</a>
            </div>
        </div>
    </div>
</div>