@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welkom bij 4Tune Autoverkoop!</h1>

    <p >
        Bij 4Tune Autoverkoop begrijpen we dat jouw auto meer is dan alleen een voertuig; het is een weerspiegeling van jouw levensstijl, passie en avontuur. We zijn er trots op dat we een breed scala aan auto's aanbieden die niet alleen je vervoermiddel zijn, maar ook je metgezel op de weg naar avonturen en herinneringen.
    </p>
    <p>
        Bij 4Tune Autoverkoop zijn we gepassioneerd door auto's en dat merk je aan de zorgvuldig geselecteerde collectie van topkwaliteit voertuigen in onze showroom. Of je nu op zoek bent naar een krachtige SUV, een sportieve coupé, een zuinige stadsauto of iets daar tussenin, we hebben de perfecte 4Tune voor jou.
    </p>
    <p>
        Ons toegewijde team staat klaar om je te begeleiden bij het kiezen van de ideale auto die past bij jouw wensen en behoeften. We bieden ook flexibele financieringsopties om ervoor te zorgen dat jouw droomauto binnen handbereik is. Bij 4Tune Autoverkoop geloven we in het creëren van een onvergetelijke ervaring voor elke klant, van het eerste bezoek aan onze showroom tot ver na de aankoop.
    </p>
    <p>
        Laat 4Tune Autoverkoop je partner zijn bij het realiseren van jouw auto-dromen. Kom langs in onze showroom en ontdek de wereld van mogelijkheden die we voor je hebben. We kijken ernaar uit om je te helpen bij het vinden van de perfecte 4Tune voor jouw reis op de weg.
    </p>
    <p><a asp-controller="Auto" asp-action="Index">Bekijk onze auto's!</a></p>
</div>
