@{
    ViewData["Title"] = $"Machtstafels";
    int aantal = (int) ViewData["Aantal"];
}

<div class="row row-cols-1 row-cols-md-4 g-4">
@for(int i = 1; i <= aantal; i++)
{
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="~/images/berekeningen.png" class="card-img-top" alt="Maaltafels">
            <div class="card-body">
                    <a asp-controller="Maaltafels" asp-action="Details" asp-route-tafel="@i" class="btn btn-primary">Bekijk de maaltafel van @i</a>
            </div>
        </div>
    </div>
}
</div>