@{
    ViewData["Title"] = "Welkom bij Owledge";
}
<div>
    <h1 class="display-4">Welkom bij Owledge!</h1>
    <p>
        Owledge is jouw toegangspoort tot de dynamische wereld van IT-opleidingen, allemaal binnen handbereik en toegankelijk vanuit het comfort van jouw eigen omgeving. Of je nu een doorgewinterde professional in de IT-sector bent of een nieuwkomer die zich wil verdiepen in de spannende wereld van technologie, wij zijn er om je te ondersteunen op je leerreis.
    </p>
    <h2 class="display-6">
        Waarom kiezen voor Owledge?
    </h2>
    <ol>
        <li><b>Toonaangevende Instructeurs</b><br/>Onze cursussen worden gepresenteerd door gerenommeerde experts in de IT-industrie. Ze delen hun diepgaande kennis en praktische inzichten om jou te helpen excelleren.</li>
        <li><b>Diverse Cursusselectie</b><br />Of je nu geïnteresseerd bent in softwareontwikkeling, netwerkbeheer, cybersecurity, data-analyse of cloudtechnologie, Owledge biedt een uitgebreide selectie van cursussen om aan al jouw leerbehoeften te voldoen.</li>
        <li><b>Flexibiliteit op Jouw Voorwaarden</b><br />Onze online opleidingen zijn ontworpen om zich aan te passen aan jouw drukke schema. Leer op jouw eigen tempo en bepaal wanneer en waar je wilt studeren.</li>
        <li><b>Hands-on Ervaring</b><br />We geloven sterk in praktisch leren. Onze cursussen omvatten hands-on opdrachten en projecten om ervoor te zorgen dat je de praktische vaardigheden ontwikkelt die nodig zijn voor succes in de IT-wereld.</li>
        <li><b>Gemeenschap en Ondersteuning</b><br />Sluit je aan bij onze levendige gemeenschap van medestudenten en instructeurs. Hier kun je vragen stellen, ervaringen delen en samen groeien in de wereld van IT. Ons ondersteuningsteam staat altijd voor je klaar om jouw vragen te beantwoorden en je te begeleiden.</li>
    </ol>
    <h2 class="display-6">
        De 4 IT-opleidingen van Owledge
    </h2>
   
    <ol>
        <li><b>Softwareontwikkeling</b><br />Leer de basisprincipes van softwareontwikkeling, van programmeren in populaire talen zoals Python en Java tot het begrijpen van algoritmen en gegevensstructuren. Deze cursus is ideaal voor beginners die een stevige basis willen leggen in softwareontwikkeling.</li>
        <li><b>Cybersecurity Specialist</b><br />Duik in de wereld van digitale beveiliging en word een expert in het beschermen van systemen en gegevens tegen bedreigingen. Je leert over netwerkbeveiliging, ethisch hacken, en het identificeren en oplossen van beveiligingslekken.</li>
        <li><b>Data-analyse en Machine Learning</b><br />Ontdek de kracht van gegevens door te leren hoe je gegevens kunt analyseren, visualiseren en gebruiken om zakelijke beslissingen te informeren. Deze cursus omvat ook machine learning en AI, waardoor je in staat bent om voorspellende analyses en geavanceerde datamodellen te ontwikkelen.</li>
        <li><b>Cloud Computing Architectuur</b><br />Leer alles over cloudtechnologieën zoals AWS, Azure en Google Cloud Platform. Je zult leren hoe je schaalbare en betrouwbare cloudinfrastructuren kunt ontwerpen, implementeren en beheren, wat essentieel is in de moderne IT-omgeving.</li>
    </ol>
    <p>
        Langs de IT-opleidingen kan je ook een aantal extra lessen opnemen ter uitbreiding van je lessenpakket.
    </p>
    <p>
        <a asp-controller="Inschrijving" asp-action="Index">Schrijf je vandaag nog in</a> voor een van deze opleidingen en zet de eerste stap op weg naar IT-succes!
    </p>
</div>
